[submodule "contracts/uniswapv3/erc20/lib/forge-std"]
	path = contracts/uniswapv3/erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/uniswapv3/erc20/lib/openzeppelin-contracts"]
	path = contracts/uniswapv3/erc20/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
